footer
    div.footer-container
        ul.footer-list
            li
                a(href='/aboutUs') About Us
            li
                a(href='') Careers
            li
                a(href='') Blog
            li
                a(href='privacyPolicy') Privacy Policy
            li
                a(href='termsOfService') Terms of Service