footer
    div.footer-container
        ul.footer-list
            li
                a(href='/aboutUs') About Us
            li
                a(href='') Careers
            li
                a(href='') Blog
            li
                a(href='') Privacy Policy
            li
                a(href='') Terms of Service