header
    div.header-image
        nav
            a.logo(href='/')
                span.thin Gator
                span.bold Bites
            //div.nav-search-form-container
            //    form.search-form(action='')
            //        select#category-select(name='category')
            //            option(value='') All
            //            option(value='italian') Italian
            //            option(value='american') American
            //            option(value='mexican') Mexican
            //            option(value='chinese') Chinese
            //            option(value='japanese') Japanese
            //            option(value='korean') Korean
            //            option(value='thai') Thai
            //            option(value='vietnamese') Vietnamese
            //            option(value='greek') Greek
            //            option(value='french') French
            //        input.search-input(id='search-input', type='text', placeholder='Search For Restaurants')
            //        button.search-btn(type='submit')
            //            img(src='images/search-icon.png', alt='search', style='width: 30px; height: 30px;')

            div.right-btns
                a.login-btn(href='login')
                    img(src="/images/user.png", style= {width: "15px", height: "15px", marginBottom: "15px"} )
                    span(style= {margin: "5px"}) Log in
                a.signup-btn(href='signup') Sign up