head
    link(rel='stylesheet', href='/stylesheets/index.css')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    //script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqHQxuCGH2vnVMNkTRDReJIX3YZU-CIY8&libraries=places&callback=initMap" defer)
    //script(async, src=`https://maps.googleapis.com/maps/api/js?key=AIzaSyD8ry_zAnVk-Iph2sk9-invGhwY1GSq8ts&libraries=places&callback=initMap`)
    script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfV1bTVxwdTvH-rfqAARNj-d79geM8ShM&libraries=places")
    script(src="https://apis.google.com/js/api.js")
    script(src="/js/maps.js")
    script(src="/js/search.js")
    script(src="/js/header.js")
    script(src='https://kit.fontawesome.com/df648ed4c9.js', crossorigin='anonymous')
    script(src="/js/password.js")

