//- This file contains the header partial for a logged in restaurant owners. 
//- Author: Wallace Man
header
    div.header-image
        nav
            table
                tr
                    td(colspan='3')
                        h5 SFSU - Spring 2023 - Team 02
                tr
                    td.logo
                        a.logo(href='/')
                            span.thin Gator
                            span.bold Bites
                    td.search
                        div.nav-search-form-container
                            form.search-form(action='')
                                select#category-select(name='category')
                                    option(value='') All
                                    option(value='italian') Italian
                                    option(value='american') American
                                    option(value='mexican') Mexican
                                    option(value='chinese') Chinese
                                    option(value='japanese') Japanese
                                    option(value='korean') Korean
                                    option(value='thai') Thai
                                    option(value='vietnamese') Vietnamese
                                    option(value='greek') Greek
                                    option(value='french') French
                                input.search-input(id='search-input', type='text', placeholder='Search For Restaurants')
                                
                                button.search-btn(type='submit')
                                    img.search(src='images/search-icon.png', alt='search',)
                    td.login-signup
                        div.right-btns
                            a.login-btn(onclick="dropMenu()", class="dropbtn")
                                img.profile-cart(src="/images/restaurantIcon.png")
                            div(id="myDropdown" class="dropdown-content")
                                a(href="restaurantAccount") View Account
                                a(href="restaurantInfo") Edit Menu
                                a(href="help") Help
                                a(href="/Logout") Sign out
            
                tr
                    td.nav(colspan='2')
                        ul
                            li 
                                a(href='/aboutUs') About Us
                            li 
                                a(href='driver') Drivers
                            li 
                                a(href='restaurant') Restaurants