header
    div.header-image
        nav
            a.logo(href='/')
                span.thin Gator
                span.bold Bites
            ul
                li
                    a(href='') Delivery
                li
                    a(href='') Takeout
                li
                    a(href='') Grocery
                li
                    a(href='') Alcohol
                li
                    a(href='') More
            div.right-btns
                a.login-btn(href='login')
                    img(src="/images/user.png", style= {width: "15px", height: "15px", marginBottom: "15px"} )
                    span(style= {margin: "5px"}) Log in
                a.signup-btn(href='signup') Sign up