extends layouts/main-layout

block content
    div.card-grid
        div.card
            img(src="/images/dylan.png", alt="Profile Picture")
            h2 Dylan Burns
            p Tech Lead
            a(href="learnMoreDylan") Learn More
        div.card
            img(src="https://via.placeholder.com/300", alt="Profile Picture")
            h2 Tim Polich
            p Front End Lead
            a(href="learnMoreTim") Learn More
        div.card
            img(src="/images/kevin.png", alt="Profile Picture")
            h2 Kevin Aziz
            p Back End Lead
            a(href="learnMoreKevin") Learn More
        div.card
            img(src="/images/christian-profile-pic.jpg", alt="Christian Profile Picture")
            h2 Christian Jackson
            p Github Lead
            a(href="learnMoreChristian") Learn More
        div.card
            img(src="/images/Jeremiah.png", alt="Profile Picture")
            h2 Jeremiah Ruvalcaba
            p Core Team Member
            a(href="learnMoreJeremiah") Learn More
        div.card
            img(src="/images/wallace.png", alt="Profile Picture")
            h2 Wallace Man
            p Core Team Member
            a(href="learnMoreWallace") Learn More
