//- This file contains the current user's cart along with
    products ordered, quantity, and price. Contains a total price and
    a 'Checkout' button that links to the order status page.

    Author: Christian Jackson and Timothy Polich
    
extends layouts/main-layout

block content

    head 
        title Cart - Gator Bites
        script(type='module' src="/js/cart.js")

    div.cart-form-container(id="the-container")
        h1 Cart
        #restaurantInfo 
            h2(id="restaurantName")
            img(id="restaurantImage" class='clickable' onclick="window.location.href='/restaurant")
        br
        br
        p(id='cart-count')
        br
        div.cart-cards(id="cart-cards")
        hr
        p(id='active-promos')
        p(id='cart-subtotal-label') Subtotal:
        label(for="subtotal" id='subtotal-label') 


        button#add-promo-button(type="submit" onclick="window.location.href='/promotions'") Add Promotions

        button#add-promo-button(type="submit" onclick="window.location.href='/checkout'") Checkout
        br
        br
