//-
    This file contains the cart page. It is empty untill added to by the cart.js file.
    TODO: Add backend functionality to this page.
//-
extends layouts/main-layout

block content

    head 
        title Cart
        script(type='module' src="/js/cart.js")

    div.cart-form-container(id="the-container")
        h1 Cart
        br
        br
        p(id='cart-count')
        br
        div.cart-cards(id="cart-cards")
        hr
        p(id='active-promos')
        p Subtotal:
        label(for="subtotal" id='subtotal-label') 


        button#save-driver-button(type="submit" onclick="window.location.href='/promotions'") Add Promotions

        button#save-driver-button(type="submit" onclick="window.location.href='/checkout'") Checkout
        br
        br
