extends layouts/main-layout

block content
    div.driver-banner
        .driver-signup-form-container
            form.driver-signup(action="register.php", method="post")
                p(id="mandatory-field") Mandatory Field *
                .form-group
                    label.driver-signup(for="username") Username:
                        span.mandatory-tag *
                    input.driver-signup(type="username", id="username", name="username", required)
                .form-group
                    label.driver-signup(for="email") Email:
                        span.mandatory-tag *
                    input.driver-signup(type="email", id="email", name="email", required)
                .form-group
                    label.driver-signup(for="password") Password:
                        span.mandatory-tag *
                    input.driver-signup(type="password", id="password", name="password", required)
                .form-group
                    label.driver-signup(for="password2") Confirm Password:
                        span.mandatory-tag *
                    input.driver-signup(type="password", id="password2", name="password2", required)
                .form-group
                    label.driver-signup(for="phone") Phone:
                        span.mandatory-tag *
                    input.driver-signup(type="tel", id="phone", name="phone", required)
                button.signup-form-btn(type="submit") Become a Driver

    script.
        const driverForm = document.getElementById("driver-form");

        driverForm.addEventListener("submit", function (event) {
            event.preventDefault();
            window.location.href = "driver";
        });
