extends layouts/main-layout

block content
  head
    title Driver Login - Gator Bites
  body(style="background-image: url('/images/driver-banner.png'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;")
    .login-form-container

        form.login(action="/login", method="post")
            h1(id='login-text-banner') Driver Login

            .form-group
                label.login(for="username") Username:
                    span.mandatory-tag *
                input.login(type="username", id="username", name="username", required)
            .form-group
                label.login(for="password") Password:
                    span.mandatory-tag *
                input.login(type="password", id="password", name="password", required)
                br
            br
            button.login-form-btn(type="submit") Login
            br
            br


            hr
            .alt-login
                p Or continue with:
                a.social-login.google(href="#")
                    i.fa.fa-google
                    span Google
                a.social-login.apple(href="#")
                    i.fa.fa-apple
                    span Apple
                a.social-login.facebook(href="")
                    i.fa.fa-facebook
                    span Facebook
            hr
            a.forgot-password(href="#") Forgot password?
