extends layouts/main-layout

block content
    head
        title Driver Signup - Gator Bites
    div.driver-banner
        .driver-signup-form-container
            form.driver-signup(action="/driver", method="post")
                p(id="mandatory-field") Mandatory Field *
                p(id="get-started") Become a Driver
                .form-group
                    label.driver-signup(for="username") Username:
                        span.mandatory-tag *
                    input.driver-signup(type="username", id="username", name="username", required)
                .form-group
                    label.driver-signup(for="email") Email:
                        span.mandatory-tag *
                    input.driver-signup(type="email", id="email", name="email", required)
                .form-group
                    label.driver-signup(for="password") Password:
                        span.mandatory-tag *
                    input.driver-signup(type="password", id="password", name="password", required)
                .form-group
                    label.driver-signup(for="secPassword") Confirm Password:
                        span.mandatory-tag *
                    input.driver-signup(type="password", id="secPassword", name="secPassword", required)
                .form-group
                    label.driver-signup(for="phoneNum") Phone:
                        span.mandatory-tag *
                    input.driver-signup(type="tel", id="phoneNum", name="phoneNum", required)
                button.signup-form-btn(type="submit") Become a Driver
                hr
                a.forgot-password(href="/driverLogin") Already a driver? Log in here

