extends layouts/main-layout

block content
   h2 Edit Account Information
   form(action='', method='')
      label(for='username') User Name:
      //input(type='text', name='username', value=user.username)