extends layouts/main-layout

block content
  head 
    title Edit Driver Account
  br
  br
  br
  .driverAccountFormContainer
        form.driverAccountForm(id='driver-account-form', action="/driverAccount", method="post")
            p#get-started Edit Details
            img(src="/images/driver-profile-pic.png", alt="Profile Picture")
            label(for="driver-name-input") Driver Name:
            input#driver-name-input(type="text", name="driverName", placeholder='John Doe', maxlength="40", pattern="[a-zA-Z0-9\\s]{0,40}", required)
            label.driver-id(for="idUpload") Upload Id:
            input.driver-id(type="file", id="idUpload", name="idUpload")
            label(for="driver-phone-input") Phone Number:
            input#driver-phone-input(type="tel", name="driverPhone", pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}', placeholder='513-858-1394' required)
            label(for="driver-vehicle-input") Vehicle Make/Model:
            input#driver-vehicle-input(type="text", placeholder="Honda Civic" ,name="driverVehicle", maxlength="40", pattern="[a-zA-Z0-9\\s]{0,40}", required)
            label(for="driver-location-input") Change Password:
            input#driver-location-input(type="password", name="driverLocation", minlength="4", maxlength="20", required)
            label(for="driver-location-input") Confirm Password:
            input#driver-location-input(type="password", name="driverLocation", minlength="4", maxlength="20", required)
            label(for="additional-info")  Bio (Optional):
            textarea#additional-info(type="textarea", name="additionalInfo", maxlength="200", pattern="[a-zA-Z0-9\\s.-?]{0,40}")
            button#save-driver-button(type="submit") Save Changes
