extends layouts/main-layout

block content
    main(style='margin-top: 80px')
        h2.userAccount-heading Favorite Restaurants
        section.popular-restaurants
            .restaurant-card
                h2 Restaurant Name 
                img
                p Rating: TBD 
                a(href='/menu/restaurant-id') View Menu
                p Deliver Time:
                    restaruant-delivery-time
            .restaurant-card
                h2 Restaurant Name 
                img
                p Rating: TBD 
                a(href='/menu/restaurant-id') View Menu
                p Deliver Time:
                    restaruant-delivery-time
            .restaurant-card
                h2 Restaurant Name 
                img
                p Rating: TBD 
                a(href='/menu/restaurant-id') View Menu
                p Deliver Time:
                    restaruant-delivery-time
            .restaurant-card
                h2 Restaurant Name 
                img
                p Rating: TBD 
                a(href='/menu/restaurant-id') View Menu
                p Deliver Time:
                    restaruant-delivery-time