// the home page will not extend /layouts/main-layout because we want the background image to span the entire
// header and not just the navbar such as other views do
doctype html
html(lang="en")
    include ./partials/head
    body
        header
            div.header-image
            nav
                a.logo(href="/")
                    span.thin Gator
                    span.bold Bites
                ul
                    li
                        a(href="") Drivers
                    li
                        a(href="") Restaurants
                    //li
                    //    a(href="") Grocery
                    //li
                    //    a(href="") Alcohol
                    //li
                    //    a(href="") More
                div.right-btns
                    a.login-btn(href="login")
                        img(src="/images/user.png", style= {width: "15px", height: "15px", marginBottom: "15px"} )
                        span(style= {margin: "5px"}) Log in
                    a.signup-btn(href="signup") Sign up
            h1 Find your favorite restaurants, delivered.
            form.search-form(action='')
                select#category-select(name='category')
                    option(value='') All 
                    option(value='italian') Italian
                    option(value='american') American
                    option(value='mexican') Mexican
                    option(value='chinese') Chinese
                    option(value='japanese') Japanese
                    option(value='korean') Korean
                    option(value='thai') Thai
                    option(value='vietnamese') Vietnamese
                    option(value='greek') Greek
                    option(value='french') French
                input.search-input(type='text', placeholder='Search For Restuarants')
                button.search-btn(type='submit') 
                    img(src='images/search-icon.png', alt='search', style='width: 30px; height: 30px;')
        main
            section.popular-restaurants
                h2 Popular Restaurants
                ul.restaurant-list
                    li
                        a(href = "")
                        img(src="/images/golden.png", alt = "Pizza")
                        div
                        h3 Pizza
                        p Fast Food, Italian
                        p 25-35 min  • $

                    li
                        a(href = "")
                        img(src="/images/INNY.png", alt = "Hamburger")
                        div
                        h3 IN N OUT
                        p Fast Food, American
                        p 25-35 min  • $

                    li
                        a(href = "")
                        img(src="/images/CHUTNEY.png", alt = "Pakistani")
                        div
                        h3 Chutney
                        p Fast Food, Pakistani
                        p 25-35 min  • $

                    li
                        a(href = "")
                        img(src="/images/lahore.png", alt = "Indian")
                        div
                        h3 Lahore Karahi
                        p Fast Food, Indian
                        p 25-35 min  • $

                    li
                        a(href="")
                        img(src="/images/cinnabon.png", alt="Cinnabon")
                        div
                        h3 Cinnabon
                        p Bakery, Desserts, Coffee and Tea
                        p 25–35 min • $

                    li
                        a(href="")
                        img(src="/images/chipotle.png", alt="Chipotle")
                        div
                        h3 Chipotle
                        p Mexican, Fast Food
                        p 20–30 min • $

                    li
                        a(href="")
                        img(src="/images/panda.png", alt="Panda Express")
                        div
                        h3 Panda Express
                        p Chinese, Fast Food
                        p 30–40 min • $

            section.popular-cuisines
                h2 Popular Cuisines
                ul.cuisine-list
                    li
                        a(href="") Chinese
                    li
                        a(href="") Italian
                    li
                        a(href="") Pakistani
                    li
                        a(href="") Mexican
                    li
                        a(href="") Thai
                    li
                        a(href="") Indian
                    li
                        a(href="") Japanese
                    li
                        a(href="") Greek
                    li
                        a(href="") Vietnamese
    include ./partials/footer
