extends layout

block content
    title About Us
    h1 Meet Our Team
      div.bio
        p Welcome to our team! We are a group of passionate individuals dedicated to making
          a difference in the world. Our mission is to create innovative solutions to the
          worlds most pressing problems, and we work tirelessly to achieve this goal
          every day. Get to know our team members below:
      div.card-grid
        div.card
          img(src="https://via.placeholder.com/300", alt="Profile Picture")
          h2 Dylan Burns
          p Team Leader
          a(href="learnMore") Learn More
        div.card
          img(src="https://via.placeholder.com/300", alt="Profile Picture")
          h2 Tim Polich
          p Front End Leader
          a(href="learnMore") Learn More
        div.card
          img(src="https://via.placeholder.com/300", alt="Profile Picture")
          h2 Kevin Aziz
          p Back End Leader
          a(href="learnMore") Learn More
        div.card
          img(src="https://via.placeholder.com/300", alt="Profile Picture")
          h2 Christian Jackson
          p Github Leader
          a(href="learnMore") Learn More
        div.card
          img(src="https://via.placeholder.com/300", alt="Profile Picture")
          h2 Jeremiah Ruvalcaba
          p Core Team Member
          a(href="learnMore") Learn More
        div.card
          img(src="https://via.placeholder.com/300", alt="Profile Picture")
          h2 Wallace Man
          p Core Team Member
          a(href="learnMore") Learn More

