if user
  console.log('User object:', user)
  console.log('Welcome message:', 'Welcome, ' + user.username + '!')
  p Welcome, #{user.username}!
else
  console.log('User object not defined')
  p Please log in
