extends layouts/main-layout

block content
    header
        div.header-image
        nav
            a.logo(href='/')
                span.thin Gator
                span.bold Bites
            ul
                li
                    a(href='') Delivery
                li
                    a(href='') Takeout
                li
                    a(href='') Grocery
                li
                    a(href='') Alcohol
                li
                    a(href='') More
            div.right-btns
                a.login-btn(href='') Log in
                a.signup-btn(href='') Sign up

    h1 Member Profile
    div.profile-card
        img(src="/images/kevin.png", alt="Profile Picture")
        h2 Kevin Aziz
        p Back End Leader
        p kaziz2@mail.sfsu.edu
        a(href='') Contact Me
    div.bio
        p As the Back End Lead, I am responsible for the server-side implementation of our software applications. I specialize in building robust and scalable back-end architectures that can handle complex data processing and storage needs. Thanks for visiting my profile!'
