extends layouts/main-layout

block content
    h1 Member Profile
    div.profile-card
        img(src="https://via.placeholder.com/300", alt="Profile Picture")
        h2 Tim Polich
        p Front End Leader
        p tpolich@sfsu.edu
        a(href='') Contact Me
    div.bio
        p As the Front End Lead, I am responsible for leading the development of user-facing components of our software applications. My expertise lies in building scalable and performant web interfaces using the latest front-end technologies. Thanks for stopping by my profile!