extends layouts/main-layout

block content
    head
        title About Christian - Gator Bites
    h1 Member Profile
    div.profile-card
        img(src="/images/christian-profile-pic.jpg", alt="Profile Picture")
        h2 Christian Jackson
        p Github Leader
        p cjackson21@sfsu.edu
        a(href='') Contact Me
    div.bio
        p Meet Christian, a veteran and current senior computer science student with a passion for software engineering. After serving in the Navy, Christian pursued his love for technology and is now in his final year of the computer science program. With a strong foundation in Java and Python, he is eager to break into the software engineering field and work on innovative projects that make a difference in people's lives. Christian's strong work ethic and determination have helped him excel in his studies, and he is excited about the opportunities that lie ahead as he transitions to his new career in tech.