extends layouts/main-layout

block content
    header
        div.header-image
        nav
            a.logo(href='/')
                span.thin Gator
                span.bold Bites
            ul
                li
                    a(href='') Delivery
                li
                    a(href='') Takeout
                li
                    a(href='') Grocery
                li
                    a(href='') Alcohol
                li
                    a(href='') More
            div.right-btns
                a.login-btn(href='') Log in
                a.signup-btn(href='') Sign up

    h1 Member Profile
    div.profile-card
        img(src="https://via.placeholder.com/300", alt="Profile Picture")
        h2 Jeremiah Ruvalcaba
        p Back End Leader
        p jruvalcaba@mail.sfsu.edu
        a(href='') Contact Me
    div.bio
        p As a core team member, I contribute to the design and implementation of our software applications. I specialize in building scalable and maintainable software architectures that can handle large volumes of data. Thanks for visiting my profile!