extends layout

block content
    h1 Member Profile
    div.profile-card
        img(src="https://via.placeholder.com/300", alt="Profile Picture")
        h2 Kevin Aziz
        p Back End Leader
        p kaziz2@mail.sfsu.edu
        a(href='#') Contact Me
    div.bio
        p As the Back End Lead, I am responsible for the server-side implementation of our software applications. I specialize in building robust and scalable back-end architectures that can handle complex data processing and storage needs. Thanks for visiting my profile!'