extends layouts/main-layout

block content
    head
        title About Jeremiah - Gator Bites
    h1 Member Profile
    div.profile-card
        img(src="https://via.placeholder.com/300", alt="Profile Picture")
        h2 Jeremiah Ruvalcaba
        p Back End Leader
        p jruvalcaba@mail.sfsu.edu
        a(href='') Contact Me
    div.bio
        p As a core team member, I contribute to the design and implementation of our software applications. I specialize in building scalable and maintainable software architectures that can handle large volumes of data. Thanks for visiting my profile!