extends layouts/main-layout

block content
    h1 Member Profile
    div.profile-card
        img(src="/images/dylan.png", alt="Profile Picture")
        h2 Dylan Burns
        p Team Leader
        p dburns6@sfsu.edu
        a(href='https://www.linkedin.com/in/dylan-burns-') Contact Me
    div.bio
        p As the Tech Lead, I am responsible for leading our team of software developers and ensuring that we are delivering high-quality software solutions that meet the needs of our clients. My expertise lies in Agile methodologies, Cloud infrastructure, and Web development, and I am proficient in a variety of programming languages, including Java, C++, Node.js, React.js, JavaScript, HTML, CSS, C, Python, and more. Thanks for visiting my profile!