extends layout

block content
    h1 Member Profile
    div.profile-card
        img(src="https://via.placeholder.com/300", alt="Profile Picture")
        h2 Wallace Man
        p Core Team Member
        p wman2@sfsu.edu
        a(href='#') Contact Me
    div.bio
        p As a core team member, I play a critical role in the development and maintenance of our software applications. My expertise lies in developing efficient algorithms and data structures to enable fast and reliable data processing. Thanks for checking out my profile!'