extends layouts/main-layout

block content
  head
    title Login - Gator Bites
    
    h1 Login
    .login-form-container
        form.login(action="/login", method="post")
            .form-group
                label.login(for="username") Username:
                    span.mandatory-tag *
                input.login(type="username", id="username", name="username", minlength="3", maxlength="20", required)
            .form-group
                label.login(for="password") Password:
                    span.mandatory-tag *
                input.login(type="password", id="password", name="password", minlength="4", maxlength="20", required)
                br
            br
            button.login-form-btn(type="submit") Login
            br
            br
            hr
            .alt-login
                p Or continue with:
                a.social-login.google(href="#")
                    img(src="/images/google.png", style= {width: "20px", height: "20px"} )
                    span Google
                a.social-login.apple(href="#")
                    img(src="/images/apple.png", style= {width: "20px", height: "20px"} )
                    span Apple
                a.social-login.facebook(href="")
                    img(src="/images/facebook.png", style= {width: "20px", height: "20px"} )
                    span Facebook
            hr
            a.forgot-password(href="/driverLogin") Log in for driver
            a.forgot-password(href="/restaurantLogin") Log in for restaurant owner
            a.forgot-password(href="#") Forgot password?