extends layouts/main-layout

block content
    .login-form-container
        form.login(action="/", method="post")
            .form-group
                label.login(for="username") Username:
                input.login(type="username", id="username", name="username", required)
            .form-group
                label.login(for="password") Password:
                input.login(type="password", id="password", name="password", required)
            button.login-form-btn(type="submit") Login
            hr
            .alt-login
                p Or continue with:
                a.social-login.google(href="#")
                    i.fa.fa-google
                    img(src="/images/google.png", style= {width: "20px", height: "20px"} )
                    span Google
                a.social-login.apple(href="#")
                    i.fa.fa-apple
                    img(src="/images/apple.png", style= {width: "20px", height: "20px"} )
                    span Apple
                a.social-login.facebook(href="")
                    i.fa.fa-facebook
                    img(src="/images/facebook.png", style= {width: "20px", height: "20px"} )
                    span Facebook
