extends layouts/main-layout

block content
  head
    title Login - Gator Bites
    .login-form-container
        form.login(action="/login", method="post")
            .form-group
                label.login(for="username") Username:
                    span.mandatory-tag *
                input.login(type="username", id="username", name="username", required)
            .form-group
                label.login(for="password") Password:
                    span.mandatory-tag *
                input.login(type="password", id="password", name="password", required)
                br
            br
            button.login-form-btn(type="submit") Login
            br
            br
            hr
            .alt-login
                p Or continue with:
                a.social-login.google(href="#")
                    i.fa.fa-google
                    span Google
                a.social-login.apple(href="#")
                    i.fa.fa-apple
                    span Apple
                a.social-login.facebook(href="")
                    i.fa.fa-facebook
                    span Facebook
            hr
            a.forgot-password(href="/driverLogin") Log in for driver
            a.forgot-password(href="/restaurantLogin") Log in for restaurant owner
            a.forgot-password(href="#") Forgot password?