extends layouts/main-layout

block content
    .notifications
        .tab-buttons
            button.tab-button.active(data-tab="unread") Unread
            button.tab-button(data-tab="read") Read
            button.tab-button(data-tab="archived") Archived
        .tab-contents
            .tab-content.active(data-tab="unread")
                .notification
                    h2 New message
                    p You have a new message from John Doe.
                .notification
                    h2 New promotion
                    p Get 20% off your next purchase with code SUMMER20.
            .tab-content(data-tab="read")
                .notification
                    h2 Message from Jane Doe
                    p You have a message from Jane Doe.
            .tab-content(data-tab="archived")
                .notification
                    h2 Account update required
                    p Please update your account with a valid address and GatorPass card.
    script(src="/js/notifications.js")