//- This file contains the current user's history of orders along with
    the order number, date ordered, payment status, whether the order
    was delivered successfully, and total price of the order.

    Author: Timothy Polich
//- 
extends layouts/main-layout

block content
    head 
        title Order History - Gator Bites
    .cart-form-container
        h1 Order History
        br
        br
        br
        .cart-card(style="background-color: white")
            .promo-card-info
                h2.cart-card-title(id='order-history-label') Panda Express
                br
                p Order Number: 123456789
                br
                p.cart-card-text Date Ordered: 12/12/2020
                p.cart-card-text Payment Status: Paid
                p.cart-card-text Delivery Status: Delivered
                br
                p.cart-card-text Total: $12.56
        .cart-card(style="background-color: white")
            .promo-card-info
                h2.cart-card-title(id='order-history-label') Bar None
                p Order Number: 123456789
                br
                p.cart-card-text Date Ordered: 12/12/2020
                p.cart-card-text Payment Status: Paid
                p.cart-card-text Delivery Status: Delivered
                br
                p.cart-card-text Total: $12.56
