//- This file contains the current user's history of orders along with
    the order number, date ordered, payment status, whether the order
    was delivered successfully, and total price of the order.

    Author: Timothy Polich
//- 
extends layouts/main-layout

block content
    table.userAccount-main-table(style="height: auto; margin-top: 80px")
        tr
            td.userAccount-orderHistory-cell
                h2.userAccount-heading Order History
                table.userAccount-sub-table(style='border: 1px solid black; border-radius: 5px')
                    tr.userAccount-orderHistory-top
                        td ORDER 
                        td DATE 
                        td PAYMENT STATUS 
                        td FULFILLMENT STATUS   
                        td TOTAL 
                    tr.userAccount-divider
                        td(colspan='5')
                            hr
                    tr.userAccount-orderHistory-bottom
                        td #
                        td 00/00/0000
                        td Paid
                        td Fulfilled
                        td $
        tr
            td.userAccount-orderHistory-cell
                table.userAccount-sub-table(style='border: 1px solid black; border-radius: 5px')
                    tr.userAccount-orderHistory-top
                        td ORDER 
                        td DATE 
                        td PAYMENT STATUS 
                        td FULFILLMENT STATUS   
                        td TOTAL 
                    tr.userAccount-divider
                        td(colspan='5')
                            hr
                    tr.userAccount-orderHistory-bottom
                        td #
                        td 00/00/0000
                        td Paid
                        td Fulfilled
                        td $
        tr
            td.userAccount-orderHistory-cell
                table.userAccount-sub-table(style='border: 1px solid black; border-radius: 5px')
                    tr.userAccount-orderHistory-top
                        td ORDER 
                        td DATE 
                        td PAYMENT STATUS 
                        td FULFILLMENT STATUS   
                        td TOTAL 
                    tr.userAccount-divider
                        td(colspan='5')
                            hr
                    tr.userAccount-orderHistory-bottom
                        td #
                        td 00/00/0000
                        td Paid
                        td Fulfilled
                        td $
        tr
            td.userAccount-orderHistory-cell
                table.userAccount-sub-table(style='border: 1px solid black; border-radius: 5px')
                    tr.userAccount-orderHistory-top
                        td ORDER 
                        td DATE 
                        td PAYMENT STATUS 
                        td FULFILLMENT STATUS   
                        td TOTAL 
                    tr.userAccount-divider
                        td(colspan='5')
                            hr
                    tr.userAccount-orderHistory-bottom
                        td #
                        td 00/00/0000
                        td Paid
                        td Fulfilled
                        td $
        tr
            td.userAccount-orderHistory-cell
                table.userAccount-sub-table(style='border: 1px solid black; border-radius: 5px')
                    tr.userAccount-orderHistory-top
                        td ORDER 
                        td DATE 
                        td PAYMENT STATUS 
                        td FULFILLMENT STATUS   
                        td TOTAL 
                    tr.userAccount-divider
                        td(colspan='5')
                            hr
                    tr.userAccount-orderHistory-bottom
                        td #
                        td 00/00/0000
                        td Paid
                        td Fulfilled
                        td $