extends layouts/main-layout

block content
    .PP-container
        h1.PP Privacy Policy
            hr
            p.PP At GatorBites, we value your privacy and are committed to protecting your personal information. This Privacy Policy explains how we collect, use, and safeguard your personal information on our website.
            ul.PP
                li.PP We may collect personal information, such as your name and email address, when you register on our website or submit a form. We use this information to communicate with you, improve our website, and provide you with the services you requested.
                    li.PP We may also collect non-personal information, such as your IP address and browser type, to analyze user behavior and improve our website's performance.
                    li.PP We do not sell or rent your personal information to third parties.
                    li.PP We may share your personal information with third-party service providers who assist us in operating our website, such as web hosting, email marketing, and analytics services. We may also share your information with law enforcement or government authorities if we are required by law or believe it is necessary to protect our rights, property, or safety.
                    li.PP Our website may contain links to third-party websites. We are not responsible for the privacy practices or content of these websites. We encourage you to review the privacy policies of these websites before providing any personal information.
                li.PP By using our website, you consent to our Privacy Policy and agree to its terms.
