extends layouts/main-layout

block content
  head
    title Restaurant Login - Gator Bites
  body(style="background-image: url('/images/restaurant-banner.png'); background-size: cover; background-repeat: no-repeat; background-position: center; background-attachment: fixed;")
    .login-form-container

        form.login(action="/restaurantLogin", method="post")
            h1(id='login-text-banner') Restaurant Login

            .form-group
                label.login(for="email") Email:
                    span.mandatory-tag *
                input.login(type="email", id="email", name="email", minlength="7", maxlength="35", placeholder='example123@ex.com', required)
            .form-group
                label.login(for="password") Password:
                    span.mandatory-tag *
                input.login(type="password", id="password", name="password", minlength="4", maxlength="35", required)
                br
            br
            button.login-form-btn(type="submit") Login
            br
            br


            hr
            .alt-login
                p Or continue with:
                a.social-login.google(href="#")
                    img(src="/images/google.png", style= {width: "20px", height: "20px"} )
                    span Google
                a.social-login.apple(href="#")
                    img(src="/images/apple.png", style= {width: "20px", height: "20px"} )
                    span Apple
                a.social-login.facebook(href="")
                    img(src="/images/facebook.png", style= {width: "20px", height: "20px"} )
                    span Facebook
            hr
            a.forgot-password(href="#") Forgot password?
