extends layouts/main-layout

block content
    div.restaurant-banner
        .restaurant-signup-form-container
            form.restaurant-signup(action="register.php", method="post")
                .form-group
                    label.restaurant-signup(for="store-address") Store Address:
                    input.restaurant-signup(type="store-address", id="store-address", name="store-address", required)
                .form-group
                    label.restaurant-signup(for="floor-suite") Floor / Suite (Optional):
                    input.restaurant-signup(type="floor-suite", id="floor-suite", name="floor-suite", required)
                .form-group
                    label.restaurant-signup(for="store-name") Store Name:
                    input.restaurant-signup(type="store-name", id="store-name", name="store-name", required)
                .form-group
                    label.restaurant-signup(for="business-type") Business Type:
                    input.restaurant-signup(type="business-type", id="business-type", name="business-type", required)
                .form-group
                    label.restaurant-signup(for="full-name") Full Name:
                    input.restaurant-signup(type="full-name", id="full-name", name="full-name", required)
                .form-group
                    label.restaurant-signup(for="email") Email:
                    input.restaurant-signup(type="email", id="email", name="email", required)
                .form-group
                    label.restaurant-signup(for="phone") Phone:
                    input.restaurant-signup(type="phone", id="phone", name="phone", required)
                button.signup-form-btn(type="submit") Become a Partner

    script.
        const restaurantForm = document.getElementById("restaurant-form");

        restaurantForm.addEventListener("submit", function (event) {
            event.preventDefault();
            window.location.href = "/restaurantInfo";
        });