extends layouts/main-layout

block content
  head 
    title Restaurant Account
  br
  br
  br
  p#driver-profile Restaurant Details 
  .driverAccountFormContainer
        form.driverAccountForm(id='restaurant-account-form', action="/editRestaurantAccount", method="GET")
            p#get-started Restaurant Profile
            img(src="/images/meal.png", alt="Profile Picture")
            label(for="driver-name-input") Restaurant Name:
            input#driver-name-input(type="text", name="restaurantName", readonly value='Rando\'s Restaurant')
            label.driver-id(for="idUpload") Upload Id:
            input.driver-id(type="file", id="idUpload", name="idUpload")
            label(for="driver-name-input") Address:
            input#driver-address-input(type="text", name="restaurantAddress", readonly value='123 Fake St.')
            label(for="driver-name-input") City:
            input#driver-address-input(type="text", name="restaurantCity", readonly value='Daly City')
            label(for="driver-name-input") State:
            input#driver-address-input(type="text", name="restaurantState", readonly value='CA')
            label(for="driver-name-input") Country:
            input#driver-address-input(type="text", name="restaurantCountry", readonly value='United States')
            label(for="driver-name-input") Zip:
            input#driver-address-input(type="text", name="restaurantZip", readonly value='94123')
            label(for="driver-phone-input") Phone Number:
            input#driver-phone-input(type="tel", name="restaurantPhone", pattern='[0-9]{3}-[0-9]{3}-[0-9]{4}', readonly value='513-858-1394' )
            label(for="driver-vehicle-input") Email:
            input#driver-vehicle-input(type="text", readonly value="example123@ex.com", name="email" )
            label(for="driver-website-input") Website:
            input#driver-address-input(type="text", name="restaurantWebsite", readonly value='https://example.com')
            label(for="driver-hours-input") Hours:
            input#driver-address-input(type="time", name="restaurantHours", readonly value='Time')
            label(for="driver-delivery-input") Delivery Time:
            input#driver-address-input(type="text", name="restaurantDelivery", readonly value='20 Minutes')
            label(for="driver-cuisine-input") Cuisine:
            input#driver-address-input(type="text", name="restaurantWebsite", readonly value='Italian')
            label(for="additional-info")  Bio (Optional):
            textarea#additional-info(type="textarea", name="additionalInfo" readonly placeholder="I am a student at SF State!")
            button#save-driver-button(type="submit") Edit Info