extends layouts/main-layout

block content
    .login-form-container
        form.login(action="/restaurantLogin", method="post")
            .form-group
                label.login(for="email") Email:
                    span.mandatory-tag *
                input.login(type="email", id="email", name="email", minlength="7", maxlength="20", placeholder='example123@ex.com', required)
            .form-group
                label.login(for="password") Password:
                    span.mandatory-tag *
                input.login(type="password", id="password", name="password", minlength="4", maxlength="20", required)
                br
            br
            button.login-form-btn(type="submit") Login
            br
            br

            a.forgot-password(href="/driverLogin") Log in for driver
            a.forgot-password(href="/login") Log in for user
            a.forgot-password(href="#") Forgot password?
