extends layouts/main-layout

block content
  head
    title Create Menu - Gator Bites
  div
    p(id="create-your-menu") Create Your Menu
    // Container for handling menu items
    .restaurant-menu-container
      form.edit-menu(id="restaurant-info-form", method="post")
        .menu
          .menu-items(id="menu-items")
            .items(id="items")
            
          button.add-item-btn(type="button", id="add-item-btn") Add Item
        button.signup-form-btn(type="submit", id="confirm-menu") Confirm
  // Add a script tag to expose restaurantID to client-side JavaScript
  script.
    window.restaurantID = "#{restaurantID}";
  // Include your script after setting window.restaurantID
  script(src="/js/editMenuItems.js", charset="utf-8", type="text/javascript")
