//-
    This file contains the restaurant menu page. It is a child of the main-layout.pug file. 
    It will display the menu of the restaurant that the user has selected.
//-
extends layouts/main-layout

block content
    head
        title
    body
        div#restaurant-main
                    
        div#restaurant-cart
            h2 Cart
            hr
            ul 
                p(id="cart-empty") 
            button(id='clear-cart') Clear Cart
            button(onclick="window.location.href='/cart'") Go To Cart

    script(type='module' src="/js/restaurantMenu.js")
    script(type='module' src="/js/cart.js")
        

