extends layouts/main-layout

block content
    head
        title Signup - Gator Bites
    .signup-form-container
        form.signup(action="/signup", method="post", onsubmit="return validatePassword()")
            .form-group
                label.signup(for="username") Username:
                    span.mandatory-tag *
                input.signup(type="username", id="username", name="username", minlength="3", maxlength="20", required)
            .form-group
                label.signup(for="email") Email:
                    span.mandatory-tag *
                input.signup(type="email", id="email", name="email", minlength="7", maxlength="35", pattern=".+@sfsu\.edu", placeholder='example123@ex.com', oninvalid="setCustomValidity('Must be @sfsu.edu')", oninput="setCustomValidity('')", required)
            .form-group
                label.signup(for="password") Password:
                    span.mandatory-tag *
                input.signup(type="password", id="password", name="password", minlength="4", maxlength="20", required)
            .form-group
                label.signup(for="password2") Confirm Password:
                    span.mandatory-tag *
                input.signup(type="password", id="password2", name="password2", minlength="4", maxlength="20", required)
            .form-group
                label.signup
                    input.signup(type="checkbox", oninvalid="setCustomValidity('Must be agreed to')", oninput="setCustomValidity('')", required)
                    | &nbsp; Do you agree to use your Gator Card for payment?
                    span.mandatory-tag *
            button.signup-form-btn(type="submit") Sign Up
            hr
            a.login-link(href="/login") Already have an account? Login here
