extends layouts/main-layout

block content
    table.userAccount-main-table
        tr
            td.userAccount-accountDetails
                h2 Profile, #{user.username}
                br
                form.form-profile(action="/editUser", method="post")
                  .form-group.row-group

                    .form-group.col-group
                      label(for="email") First Name:
                      input(type="text", id="email", name="fname" )
                    .form-group.col-group
                      label(for="email") Last Name:
                      input(type="text", id="email", name="lname" )
            
                  .form-group.row-group
                    .form-group.col-group
                      label(for="password") Email:
                      input(type="text", id="password", name="password", value=user.email)

                      label(for="password") GatorID:
                      input(type="text", id="password", name="password")
  
                    .form-group.col-group
                      label(for="phonenumber") Phone:
                      input(type="text", id="phone", name="phone", value=user.phone)
  
                  .form-group.submit-group
                    
                    input#checkbox(type="checkbox")
                    label(for="checbox") Check for text messages
                    input#save-driver-button(type="submit", value="Save Changes")
                    
                   
        tr
            td.userAccount-orderHistory-cell
                br
                br
                br
                h4.userAccount-heading Order History
                table.userAccount-sub-table
                    tr.userAccount-orderHistory-top
                        td ORDER 
                        td DATE 
                        td PAYMENT STATUS 
                        td FULFILLMENT STATUS   
                        td TOTAL 
                    tr.userAccount-divider
                        td(colspan='5')
                            hr
                    tr.userAccount-orderHistory-bottom
                        td #
                        td 00/00/0000
                        td Paid
                        td Fulfilled
                        td $
       
        tr 
            td.userAccount-list(colspan='2')
                br
                br
                br 
                h4.userAccount-heading Favorite Restaurants 
                table.userAccount-sub-table
                    tr 
                        td.userAccount-card-cell
                            .popular-restaurants
                                img
                                p Favorite #1
                        td.userAccount-card-cell
                            .popular-restaurants
                                img
                                p Favorite #2
                        td.userAccount-card-cell
                            .popular-restaurants
                                img
                                p Favorite #3
        tr.userAccount-divider
                        td
                            hr
        tr 
            td.userAccount-list(colspan='2')
                br
                br
                br 
                h4.userAccount-heading Recommendations
                table.userAccount-sub-table
                    tr 
                        td.userAccount-card-cell
                            .popular-restaurants
                                img
                                p Recommendation #1
                        td.userAccount-card-cell
                            .popular-restaurants
                                img
                                p Recommendation #2
                        td.userAccount-card-cell
                            .popular-restaurants
                                img
                                p Recommendation #3