* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


/* Global styles */
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1;
  background-color: white;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: blink;
}

ul {
  list-style: none;
}

header {
  background-image: url("../images/header.png");
  background-size: cover;
  background-position: center;
  border-bottom: 1px solid #E5E5E5;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 60px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0 20px;
}

nav .logo{
  font-size: 2rem;
  color: black;
}

.thin{
  font-size: 2rem;
  font-weight: lighter;
  color: black;
}

.bold{
  font-size: 2rem;
  font-weight: bolder;
  color: black;
}

.right-btns {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.login-btn,
.signup-btn {
  margin-left: 10px;
}

.login-btn:hover {
  background-color: rgb(51, 51, 51);
}

.signup-btn:hover {
  background-color: rgb(248, 248, 250);
}

nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

nav li {
  margin-right: 20px;
  font-weight: bold;
  font-size: larger;
}

nav a.login-btn {
  color: #FFF;
  background-color: black;
  /*border: 1px solid white;*/
  padding: 10px 20px;
  border-radius: 5px;
  margin: 20px;
}

nav a.signup-btn {

  color: black;
  background-color: white;
  /*border: 1px solid black;*/
  padding: 10px 20px;
  border-radius: 5px;
  margin: 0px;
}

/* SEARCH BAR */
h1 {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
  padding: 60px 20px;
  font-size: 3.5rem;
  font-weight: bold;
}

h1 br {
  display: none;
}

/* SEARCH FORM */
form {
  max-width: 800px;
  text-align: center;
  padding: 0 20px;
  margin: 0 auto 60px;
}

form input[type="text"] {
  width: 100%;
  height: 50px;
  padding: 10px;
  border: 2px solid #E5E5E5;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-bottom: 20px;
}

form button[type="submit"] {
  width: 100%;
  height: 50px;
  background-color: black;
  color: #FFF;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

main {
  max-width: 1024px;
  margin: 0 auto;
}

section {
  margin-bottom: 60px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

section ul {
  display: flex;
  flex-wrap: wrap;
}

section li {
  flex-basis: calc(33.33% - 20px);
  margin-right: 20px;
  margin-bottom: 20px;
  border: 0px solid black;
  border-radius: 0px;
  overflow: hidden;
}

section a {
  display: block;
  padding: 20px;
}

section.popular-restaurants img {
  width: 100%;
  height: 150px;
  border-radius: 0px;
}

section h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

section ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;
}

section li {
  width: 100%;
  margin-bottom: 1rem;
}

section li a {
  display: block;
  padding: 1rem;
  background-color: #fff;
  border: 0px solid #ddd;
  border-radius: 5px;
  color: black;
  text-decoration: none;
  transition: all 0.3s ease;
}

section li a:hover {
  /*background-color: #eeeeee;*/
}

section li a img {
  width: 100%;
  height: auto;
  margin-bottom: 1rem;
}

section li a h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

section li a p {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

/* FOOTER PARTIAL */
footer {
  background-color: #f2f2f2;
  padding: 20px 0;
  position: fixed;
  bottom: 0;
  width: 100%;

}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.footer-list {
  display: flex;
  margin-left: 15px;
  padding: 0;
}

.footer-list li {
  margin-right: 20px;
}

.footer-list li a {
  color: black;
  text-decoration: none;
}

.footer-list li a:hover {
  text-decoration: blink;
}

/* ABOUT US PAGE */
.bio {
  max-width: 800px;
  text-align: center;
  margin: 0 auto 40px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  border-radius: 5px;
}

.bio p {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  margin: 0;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
  justify-items: center;
  align-items: center;
  margin-top: 80px;
}

.card {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.card h2 {
  font-weight: 500;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.card a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border-radius: 25px;
  padding: 10px 30px;
  text-decoration: none;
  margin-top: 20px;
  transition: background-color 0.2s ease-in-out;
}

.card a:hover {
  background-color: #585757;
}

.profile-card {
  background-color: #fff;
  box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
  border-radius: 5px;
  padding: 20px;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.profile-card img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.profile-card h2 {
  font-weight: 500;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.profile-card p {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.profile-card a {
  display: inline-block;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  background-color: #333;
  border-radius: 25px;
  padding: 10px 30px;
}

.profile-card a:hover {
  background-color: #222;
}

.profile-card .bio {
  font-size: 16px;
  color: #666;
  margin-top: 20px;
  line-height: 1.5;
  text-align: justify;
}
