#orders-table {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}

#orders-table th, #orders-table td {
  text-align: left;
  padding: 10px;
  border: 1px solid #ddd;
}
#orderItems {
  border-collapse: collapse;
  width: 100%;
  margin: 0 auto;
}
#orders-table th {
  background-color: #f2f2f2;
}

#orders-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

#orders-table tr:hover {
  background-color: #ddd;
}

.collapse td {
  padding: 0;
  border: none;
}

.order-details-container {
  padding: 10px;
}

.order-details-container h2 {
  margin-top: 0;
}

.order-details-container hr {
  margin: 10px 0;
}

.order-details-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.order-details-list li {
  margin-bottom: 5px;
}

.order-items {
  list-style: decimal;
  margin-left: 20px;
  padding-left: 10px;
}

.new-order-form {
  max-width: 800px;
  margin: 0 auto;
}

.new-order-form .form-group {
  margin-bottom: 10px;
  text-align: left;
}

.new-order-form label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.new-order-form .input-group {
  display: flex;
  margin-bottom: 10px;
}

.new-order-form .input-group label {
  flex-basis: 150px;
  margin-right: 10px;
}

.new-order-form .input-group input[type="text"],
.new-order-form .input-group input[type="number"],
.new-order-form .input-group textarea {
  flex: 1;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 3px;
}

.new-order-form .input-group textarea {
  resize: none;
}

.new-order-form .btn {
  display: inline-block;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  background-color: black;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.new-order-form .btn:hover {
  background-color: yellow;
  color: black;
}

.new-order-form .btn:active {
  background-color: black;
}
#order-items {
  width: 100%;
  height: 300px;
}