#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
#header img {
    width: 150px;
    height: 150px;
}
#main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    max-width: 1200px;
}
#menu-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    margin-top: 50px;
}
#menu {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    position: relative;
}
.card h3 {
    margin-top: 0;
}
.card p {
    margin-bottom: 10px;
}
.card .price {
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
}
.card button {
    align-self: flex-end;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#cart {
    width: 20%;
    background-color: #f5f5f5;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #333;
    position: fixed;
    top: 460px;
    right: 35px;
    z-index: 9999;
}

#cart h2 {
    margin-top: 0;
    text-align: center;
}
#cart ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#cart li {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}
#cart button {
    margin-top: 20px;
    margin-left: auto;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
#cart hr {
    margin: 10px 0;
}
.card:hover{
    background-color: yellow; /* Slightly darker yellow on hover */
}
